.main-header-border{
	height: 6px;
  background-color: #4e4376;
  background-image: linear-gradient(135deg,#2b5876,#4e4376);
}
.main-header{
	min-width: 320px;
	width: 100%;
	height: 84px;
	box-shadow: 0 1px #e6e8eb;
	position: relative;
	z-index: 200;
}
.main-header-content{
	height: 78px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	transition: box-shadow .3s,transform .4s;
	position: relative;
	z-index: 200;
}
.main-header-section{
	display: flex;
	align-items: center;
	flex-shrink: 0;
	flex-grow: 0;
}
.main-header-section.main-header-search{
	flex-grow: 1;
}

.main-header-home-link{
	display: flex;
  margin-right: 12px;
}
.main-header-logo{
	height: 24px;
	vertical-align: middle;
}
.main-header-dropdown-link{
    display: flex;
    height: 78px;
    align-items: center;
    padding: 18px 9px;
    color: #4e4376;
}
.main-header-dropdown-link, .search-icon{
	width: 24px;
	height: 24px;
}
.main-header-search{
	flex-shrink: 1;
	color: #58647b;
	background-color: #f3f4f5;
	height: 54px;
	border-radius: 9px;
	margin: 0 36px;
}
.main-header-search-form{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}	

.main-header-search-icon{
	display: flex;
	margin: 0 12px 0 18px;
	flex-shrink: 0;
	flex-grow: 0;
	color: #4e4376;
	opacity: .9;
}
input.main-header-search-input {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    flex-shrink: 1;
    flex-grow: 1;
    color: #4e4376;
    background-color: transparent;
    height: auto;
    line-height: 54px;
    display: inline-block;
    border: none;
		border-radius: 4px;
    margin: 0;
    padding: 0;
}	
.main-header-user-section{
	display: inline-flex;
}
.main-header-icon-link{
	padding: 18px 9px;
	display: inline-flex;
	align-items: center;
	height: 78px;
}	
.main-header-icon-wrapper{
	position: relative;
	display: inline-flex;
	vertical-align: middle;
}
.main-header-icon{
	display: block;
	width: 24px !important;
	height: 24px;
	color: #4e4376;
	margin: 12px;
}
.main-header-icon-text{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	font-weight: 700;
	color: #4e4376;
}
.main-header-profile-link{
	margin: 0 18px;
}
.main-header-profile.avatar{
	position: relative;
	top: 15px;
	transition: opacity .2s;
	box-shadow: 0 0 0 3px #4e4376;
	height: 48px;
	width: 48px;
}
.avatar{
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: 50%/contain no-repeat #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-weight: 700;
	text-align: center;
	color: #58647b;
	vertical-align: top;
	box-shadow: inset 0 0 0 1.5px #4d4d4d, 0 0 0 1px #e6e8eb;
	z-index: 100;
}
.main-header-link-button{
	margin-left: 18px;

}
.main-header-button.primary-button{
	background: linear-gradient(135deg,#2b5876,#4e4376);
	padding: 0 10px;
	height: 42px;
}
.profile-page-header-wrapper{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg,#2b5876,#4e4376);
}
.profile-header{
    position: relative;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
}
.profile-page-header-avatar.avatar {
    position: relative;
    margin: 30px;
    margin-left: 0;
    flex-shrink: 0;
    width: 240px;
    height: 240px;
    border-radius: 0;
    box-shadow: none;
}
.profile-page-header-avatar-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profile-page-header-user-stats{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    color: #fff;
    background-color: rgba(88,100,123,.5);
}
.profile-page-header-user-stat {
    text-align: center;
}
.profile-page-header-user-stat-count {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: .4px;
    line-height: 36px;
}
.profile-page-header-user-stat-text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4px;
    line-height: 18px;
}
.profile-page-header-content {
    padding: 27px 36px 0 0;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(100% - 300px);
}
.profile-page-header-name{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    display: inline-block;
    margin-right: 12px;
    line-height: 40px;
}
.profile-page-header-username{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    display: inline-block;
    margin-top: 6px;
}
.profile-page-header-edit-links{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    margin-top: 12px;
    line-height: 16px;
}
.link-seperator:before {
    content: "·";
}
.link-seperator {
    position: relative;
    display: inline-block;
    margin: 0 6px;
    vertical-align: top;
}
.profile-page-header-bio{
    margin-top: 24px;
}
.profile-page-header-bio-content{
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px){
	.MainHeader {
			height: 66px;
	}
}