
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    line-height: 24px;
    font-size: inherit;
    color: #0d0d0d;
}
.home-page {
    height: 100vh;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .1px;
    text-transform: none;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.home-page-view {
    max-width: none;
    min-width: 320px;
    width: auto;
    margin: 0 auto;
    padding: 0;
}

.page-content {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 36px;
    padding-right: 36px;
}

.page-content:after {
    content: "";
    display: block;
    clear: both;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.tag-selector-header {
    position: relative;
    background-image: linear-gradient(135deg, #2b5876, #4e4376);
    transition: height .2s;
    min-height: 252px;
}

.tag-selector-tag-builder {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #fff;
    transition: opacity .2s;
}

.tag-selector-tag-builder-content {
    display: flex;
    flex: 1 0 100%;
    max-width: 100%;
}

.tag-selector-tag-builder-section {
    flex: 1 1;
    max-width: 50%;
    text-align: center;
    margin: 0 36px;
}

.tag-selector-tag-builder-section:first-child {
    margin-left: 0;
}

.tag-selector-tag-builder-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 12px;
}

.tag-selector-search {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 624px;
    margin: 0 12px;
}

.icon.tag-selector-search-icon {
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    color: #b3b3b3;
    margin: 0 12px;
    font-size: 18px;
    line-height: 36px;
}

input[type=text].tag-selector-search-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid #d9d9d9;
    outline: none;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    line-height: 24px;
    padding: 0 12px;
    width: 100%;
    margin-top: 12px;
    height: 36px;
    padding-left: 42px;
    margin: 0;
    line-height: 36px;
    border-radius: 4px;
    border: none;
}

.tag-selector-tag-builder-copy {
    margin-top: 18px;
}

.tag-selector-tag-builder-list {
    margin-top: 12px;
    overflow: hidden;
}

.tag-selector-tag-builder-list.suggested {
    max-height: 108px;
}

.tag-selector-tag {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color .15s;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    padding: 0 9px;
    margin: 3px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1.5px #4d4d4d;
    color: #4d4d4d;
    white-space: nowrap;
    transition: background-color .15s;
    height: 21px;
    line-height: 21px;
    margin: 0 1.5px 3px;
    color: #fff;
    box-shadow: inset 0 0 0 1.5px hsla(0, 0%, 100%, .4);
}
.tag-selector-tag-builder-submit{
    flex: 1 0 100%;
    margin-top: 24px;
    text-align: center;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    line-height: 36px;
    padding: 0 18px;
    background-color: transparent;
    white-space: nowrap;
    border-radius: 0;
}
button:hover {
    cursor: pointer;
}
.text-button {
    color: #fff;
    min-width: 120px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
}
.text-button:hover {
    background-color: transparent;
}
.primary-button {
    min-width: 120px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    box-shadow: none;
    border-radius: 9px;
    color: #fff;
    background-color: #1b9ad1;
}

.nav-header {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 1px #e6e8eb;
    line-height: 36px;
    background-color: #fff;
    transform: translateZ(0);
    height: 36px;
}
.nav-header.scrollable {
    overflow-x: auto;
}
.show-mobile{
    display: none;
}
.nav-header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-header.scrollable .nav-header-content {
    flex-wrap: nowrap;
    white-space: nowrap;
}
.nav-header-list {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100px;
}
.nav-header.scrollable .nav-header-list {
    flex-shrink: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color .15s;
}
.nav-header-item {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    display: inline-flex;
    align-items: center;
    color: #58647b;
    margin-right: 13px;
    vertical-align: top;
}
.nav-header-item.selected {
    position: relative;
    color: #1b9ad1;
}

.nav-sidebar {
    position: relative;
    width: 258px;
    min-height: 24px;
    padding-top: 42px;
}
.nav-sidebar.left {
    float: left;
}

.nav-sidebar.left .nav-sidebar-content {
    padding-right: 60px;
}
.nav-sidebar-content {
    width: 258px;
}

.home-page-feed {
    padding-top: 42px;
    padding-bottom: 48px;
    margin-right: 300px;
    margin-left: 258px;
    padding-right: 27px;
    box-shadow: none;
}
.card-list-item{
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 36px;
    padding: 18px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.05);
    border: 1px solid #e6e8eb;
    border-radius: 15px;
}
.card-list-answer-skip{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    float: right;
    height: 36px;
    background-color: #e6e8eb;
    border-radius: 9px;
    color: #8d959c;
}
.card-list-answer-subtitle {
    line-height: 18px;
    padding: 9px 0;
    margin: auto;
}

.card-list-answer-title {
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    display: flex;
    align-items: center;
    min-height: 102px;
    padding: 12px 0;
    text-align: center;
}
.card-list-seperator {
    width: 100%;
    height: 1px;
    background-color: #e6e8eb;
}
.card-list-footer {
    padding-top: 18px;
}
.card-list-footer.center {
    text-align: center;
}
.FAB {
    display: inline-flex;
    height: 48px;
    background: #1b9ad1;
    color: #fff;
    border-radius: 30px;
    vertical-align: top;
    transition: background-color .15s;
}
.FAB.small {
    height: 42px;
    border-radius: 21px;
}
.FAB-label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    line-height: 48px;
    margin-left: 21px;
    margin-right: 6px;
    vertical-align: text-bottom;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
}
.rec-card-list{
    margin-bottom: 30px;
}
.rec-card-list-header {
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: .4px;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 36px;
    color: #4d4d4d;
}
@media (max-width: 1279px){
    .home-page-feed {
        margin-left: 204px;
        margin-right: 240px;      
    }
}

@media (max-width: 1023px) {
    .tag-selector-header {
        min-height: 270px;
    }
    .home-page-feed {
        padding-right: 0;
        margin-right: auto;
        box-shadow: none;
        padding-top: 42px;
    }
}

@media (max-width: 767px) {
    .page-content {
        padding-left: 12px;
        padding-right: 12px;
    }

    .tag-selector-header {
        min-height: 497px;
    }

    .tag-selector-tag-builder-content {
        flex-direction: column;
    }

    .tag-selector-tag-builder-section {
        margin: 0 0 36px;
        max-width: none;
    }

    .tag-selector-tag-builder-label {
        line-height: 27px;
        margin-bottom: 24px;
    }
    .tag-selector-tag-builder-list  {
        margin-top: 18px;
    }
    .tag-selector-tag-builder-list  {
        max-height: 80px;
    }
    .tag-selector-tag-builder-submit{
        margin-top: 0;
    }
    .show-mobile{
        display: flex;
    }
    .nav-sidebar {
        display: none;
    }
    .home-page-feed {
        margin-left: auto;
        padding-top: 30px;
    }
    .home-page-view{
        background-color: #efefef;
    }
    .card-list-item {
        margin: 0 0 30px;
        padding: 12px;
    }
    .card-list-answer-title {
        font-size: 21px;
        line-height: 30px;
    }
    .card-list-footer {
        padding-top: 12px;
    }
    .FAB-label {
        line-height: 42px;
        margin-left: 18px;
        margin-right: 6px;
    }
    .rec-card-list-header {
        font-size: 18px;
        line-height: 24px;
        line-height: 36px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-left: 12px;
    }
}
