a{
  color: white !important;
}

.rec-card.card-list-item.has-footer{
  overflow: hidden;
  margin-bottom: 36px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
  border: 1px solid #e6e8eb;
  padding: 0 ;
}


.card-list-item.has-footer {
  padding-bottom: 12px;
}
.question-card{
  padding: 24px !important;
  text-shadow: 1px 1px 3px#324
}
.card-option-list {
  display: flex;
}
.card-option-list > .rec-card-image {
  margin: 30px 5px;
  box-shadow: 5px 4px 9px 2px rgba(51, 51, 51, 0.65);
}

.add-new-option {
  margin: auto;
  padding: 10px;
}

.add-new-option::before {
  content: "+";
  padding: 2px 5px;
  border: 1px solid #324;
  border-radius: 50%;
  margin-right: 7px;
}

.hidden-options {
  margin: auto;
}

@media (max-width: 768px) {
}