a{
  color: white !important;
}

.rec-card.card-list-item.has-footer{
  overflow: hidden;
  margin-bottom: 36px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
  border: 1px solid #e6e8eb;
  padding: 0 ;
}


.card-list-item.has-footer {
  padding-bottom: 12px;
}
.question-card{
  padding: 24px !important;
  text-shadow: 1px 1px 3px#324;
  background: linear-gradient(146deg, #324, #213)
}

.question-card-option {
  background-color: rgba(51, 34, 68, 0.699);
  padding: 7px 10px;
  margin-right: 10px;
  display: inline-flex;
  margin-top: 6px;
  font-size: 0.9rem;
}
.add-new-option{
  background-color: transparent;
}
.add-new-option::before {
  content: "+";
  padding: 0px 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 7px;
}

@media (max-width: 768px) {
}