a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color .15s;
}

.card-list-item {
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 36px;
    padding: 18px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
    border: 1px solid #e6e8eb;
    border-radius: 15px;
}

.card-list-item.has-footer {
    padding-bottom: 12px;
}

.rec-card-question-header {
    margin-bottom: 12px;
}

.rec-card-question-header-flex {
    display: flex;
    align-items: flex-start;
}

.card-list-stats {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    color: #58647b;
    margin-bottom: 6px;
    max-height: 24px;
    overflow: hidden;
}

.card-list-stats-item {
    display: inline-block;
    margin-right: 12px;
}

.card-list-stats-seperator {
    display: inline-block;
    margin-right: 12px;
}



.rec-card-question-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    word-break: break-word;
    margin: auto;
}

.rec-card-question-header-button {
    display: flex;
    align-items: center;
    padding-left: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    height: 30px;
}

.FAB {
    display: inline-flex;
    height: 48px;
    background: #1b9ad1;
    color: #fff;
    border-radius: 30px;
    vertical-align: top;
    transition: background-color .15s;
}

.FAB.micro {
    height: 24px;
    border-radius: 12px;
}

.FAB-label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    line-height: 48px;
    margin-left: 21px;
    margin-right: 6px;
    vertical-align: text-bottom;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
}

.FAB.micro .FAB-label {
    line-height: 24px;
    margin-left: 12px;
    margin-right: 6px;
}


@media (max-width: 767px) {
    .card-list-item {
        margin: 0 0 30px;
        padding: 12px;
    }

    .rec-card-question-title {
        font-size: 21px;
        line-height: 30px;
    }
}