*{
	box-sizing: border-box
}
html{
    overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: BasicSans, Helvetica Neue , Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
.page-content {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 36px;
	padding-right: 36px;
}
.page-content:after {
    content: "";
    display: block;
    clear: both;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    line-height: 24px;
    font-size: inherit;
    color: #0d0d0d;
}
strong {
    font-weight: 600;
    font-style: normal;
}
a{
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: color .15s;
}
a:hover {
    color: #167ba7;
}
input, input[type=email], input[type=password], input[type=search], input[type=text], textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid #d9d9d9;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    display: block;
    font-family: BasicSans, Helvetica Neue , Helvetica, Arial, sans-serif;
    line-height: 24px;
    padding: 0 12px;
    width: 100%;
    margin-top: 12px;
}
input::placeholder{
	font-family: BasicSans, Helvetica Neue , Helvetica, Arial, sans-serif;
	color: #4e4376;
}
button, input, select, textarea {
    font-family: BasicSans, Helvetica Neue , Helvetica, Arial, sans-serif;
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    line-height: 36px;
    padding: 0 18px;
    background-color: transparent;
    white-space: nowrap;
    border-radius: 0;
}
.primary-button, [type=submit] {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    box-shadow: none;
    border-radius: 9px;
    min-width: 120px;
}
.primary-button, [type=submit] {
    color: #fff;
    background-color: #1b9ad1;
}
.primary-button{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4px;
    box-shadow: none;
    border-radius: 9px;
}
.avatar{
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: 50%/contain no-repeat #fff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-weight: 700;
	text-align: center;
	color: #58647b;
	vertical-align: top;
	box-shadow: inset 0 0 0 1.5px #4d4d4d, 0 0 0 1px #e6e8eb;
	z-index: 100;
}
.avatar:before {
    content: "";
    background: 50%/contain no-repeat;
    bottom: 0;
    display: block;
}
.avatar:before, .avatar img {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.show-tablet, .show-mobile, .show-minimum{
    display: none !important;
}

@media (max-width: 1023px){
    .hide-tablet {
        display: none !important;
    }
    .show-tablet{
        display: block !important;
    }
}
@media (max-width: 767px){
	.page-content {
    padding-left: 12px;
    padding-right: 12px;
	}
    .hide-mobile{
        display: none !important;
    }
    .show-mobile{
        display: flex !important;
    }
}
@media (max-width: 424px){
    .hide-minimum {
        display: none !important;
    }
    .show-minimum{
        display: flex !important;
    }
}